<div class="table-container">
    <div class="table-header">
        <h4><i class="fas fa-trophy"></i> Top Users</h4>
        <a href="/admin/users" class="btn btn-sm btn-outline-primary">View All</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Searches</th>
                    <th>Downloads</th>
                    <th>Last Active</th>
                </tr>
            </thead>
            <tbody id="topUsersTable">
                <tr>
                    <td>
                        <div class="user-cell">
                            <i class="fas fa-user-circle"></i>
                            <span>john_doe</span>
                        </div>
                    </td>
                    <td>156</td>
                    <td>42</td>
                    <td>2 hours ago</td>
                </tr>
                <tr>
                    <td>
                        <div class="user-cell">
                            <i class="fas fa-user-circle"></i>
                            <span>jane_smith</span>
                        </div>
                    </td>
                    <td>134</td>
                    <td>38</td>
                    <td>5 hours ago</td>
                </tr>
                <tr>
                    <td>
                        <div class="user-cell">
                            <i class="fas fa-user-circle"></i>
                            <span>bob_wilson</span>
                        </div>
                    </td>
                    <td>98</td>
                    <td>25</td>
                    <td>1 day ago</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>